.download-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-primary);
    background-color: var(--text-primary);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: var(--text-secondary);
    transform: translateY(-2px);
    color: var(--bg-primary);
  }
  
  .download-button:active {
    background-color: var(--bg-secondary);
    transform: translateY(0);
    color: var(--bg-primary);
  }
  .service-card:hover {
    transform: scale(1.05);
  }
  

   
  

  